.container{
    width:100%;
    height: 100%;
    position: relative;
}
.right_reg_box{
    width: 264px;
    height: 325px;
    right:0;
    top: 50%;
    position: fixed;
    z-index: 998;
    display: none;
}
.right_reg_box_top{
    width: 264px;
    height: 9px;
    background: url("../images/rightzc/lzcbgt.png") no-repeat;
}
.right_reg_box_bottom{
    width: 264px;
    height: 316px;
    background: url("../images/rightzc/lzcbgb.jpg") no-repeat;
    position: relative;

}
.right_reg_box_bottom form{
    width: 244px;
    left: 20px;
    top: 50px;
    position: absolute;
}
.right_reg_box_bottom form p{
    padding-bottom: 10px;
}
#yzm{
    width: 80px;
    height: 25px;
}
#btn1{
    padding-top: 20px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-left: -10px;
}
#btn1_1{
    width: 96px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    background: url("../images/rightzc/lzc_btnn1.jpg") no-repeat;

}
#btn1_1:hover{
    background: url("../images/rightzc/lzc_btnh1.jpg") no-repeat;
}
#btn1_2{
    width: 96px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    background: url("../images/rightzc/lzc_btnn2.jpg") no-repeat;

}
#btn1_2:hover{
    background: url("../images/rightzc/lzc_btnh2.jpg") no-repeat;
}
.right_reg_close{
    width: 30px;
    height: 30px;
    right:0;
    top: 50%;
    position: fixed;
    z-index: 999;
    display: none;
}
.right_reg_close a{
    width: 30px;
    height: 30px;
    display: block;
}
.right_reg{
    width: 39px;
    height: 149px;
    right:0;
    top: 50%;
    background: url("../images/kszc.gif") no-repeat;
    position: fixed;
    z-index: 997;
}
.top{
    width: 100%;
    height: 777px;
    background: url("../images/main_bg.jpg") no-repeat center;
    position: relative;
    text-align: center;
}
.top_login{
    height:36px;
    line-height: 36px;
    float: right;
    margin-right: 5%;
}
.top_menu{
    width: 100%;
    height: 108px;
    top: 36px;
    position: absolute;
    background: url("../images/nav_bg.png") no-repeat;
    overflow: hidden;

}
.top_menu_left{
    margin-left: 10%;

}
.top_menu_left li{
    float: left;
    width: 10%;
    color: white;
    margin-top: 40px;
    margin-right: 10px;
}
.top_menu_li_right{
    margin-left:300px ;

}

.top_menu_left a{
    color: white;
    font-size: 1.6em;
}
.top_menu_left span{
    color: white;
    font-size: 0.8em;
    color: #B5863B;
}
.top_menu_li_select a{
    color: #B5863B;
}
.top_menu a:hover{
    color: #B5863B;
}
.top_logo{
    width: 261px;
    height: 142px;
    top: 50px;
    left:50%;
    margin-left: -130px;
    position: absolute;
    background: url("../images/logo.png") no-repeat;
}


.center{
    width: 100%;
    height: 700px;
    background-color: #DAE3DB;
}

.content{
    width: 1010px;
    height: 1050px;
    left: 50%;
    margin-left: -500px;
    top: 580px;
    position: absolute;
}


.foot{
    width: 100%;
    height: 350px;
    background: url("../images/foot_bg.jpg") no-repeat right;
}

.foot_content{
    width: 100%;
    top: 1620px;
    position: absolute;
    text-align: center;
}

.foot_content a{
    padding: 20px;
    font-size: 1.2em;
}
.foot_content p{
    padding: 5px;
}

/*Home-Css*/
.home_container{
    width: 1010px;
    height: 1050px;
}

.home_left{
    float: left;
    width: 248px;
    height: 1050px;

}
.q_reg{
    width: 248px;
    height: 60px;
    background: url("../images/reg.jpg")no-repeat;
    background-position: 0 0;
    margin-top: 10px;
}
.q_reg:hover{
    background-position: 0 -60px;
}
.q_track{
    width: 248px;
    height: 242px;
    background: url("../images/fast_track.jpg")no-repeat;
    margin-top: 10px;
}
.q_track span{
    color: white;
}
.q_track_top{
    float:left;/*当两个容器嵌套时,如果外层容器和内层容器之间没有别的元素,firefox会把内层元素的margin-top作用与父元素。*/
    width: 226px;
    height: 36px;
    background: url("../images/menu_bg1.jpg")no-repeat;
    margin: 11px;
    line-height: 36px;
    text-align: center;
}
.q_track_top span{
    font-size: 1.5em;
}
.q_track_menu p{
    margin-left: 11px;
}
.q_track_menu a{
    color: white;
    width: 102px;
    height: 27px;
    background: url("../images/menu_bg2.jpg")no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 27px;
}
.q_track_menu_a{
    margin-right: 18px;
}
.q_track_menu a:hover{
    text-decoration: underline;
}
.q_track_menu p{
    padding-bottom: 8px;
}
.q_track_charts{
    width: 248px;
    height: 252px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.q_track_charts_top{
    width: 248px;
    height: 36px;
    line-height: 36px;
    background: url("../images/menu_bg3.jpg")no-repeat;
}
.q_track_charts_top span{
    font-weight: bold;
}
.s1{
    float: left;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 20%;

}
.s2{
    float: left;
    width: 30%;
    height: 36px;
    line-height: 36px;
    text-align: center;

}
.s3{
    float: left;
    width: 50%;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.q_track_charts_content{
    width: 248px;
    height: 216px;
}
.q_track_charts_content_left{
    width: 2px;
    height: 216px;
    background: url("../images/menu_bg4.jpg");
    float: left;
}
.q_track_charts_content_right{
    width: 246px;
    height: 216px;
    float: left;
}
.q_track_charts_content_right span{
    color: black;
}
.share_li1{
    background-color: #C0D4C4;
    width: 248px;
    height: 36px;

}
.q_track_charts_content_right_li1 span{
    color: red;
}
.share_li2{
    background-color: #A3C0AB;
    width: 248px;
    height: 36px;

}
.q_track_charts_content_right_li2 span{
    color: orange;
}

.q_track_charts_content_right_li3 span{
    color: #639DD5;
}

.s1_img{/*排名榜名次图片居中*/
    line-height: 42px;
}
.down_lf_img{
    margin-top: 20px;
}
.game_service{
    width: 248px;
    height: 180px;
    margin-top: 10px;
    background-color: #A3C0AB;
}
.game_service_top{
    width: 248px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: url("../images/menu_bg3.jpg") no-repeat;
    background-size: 100% 100%;
}
.game_service_top span{
    font-size: 1.8em;
}

.game_service_tel{
    text-align: center;
}
.game_service_tel p{
    padding-bottom: 10px;
    font-size: 1.4em;
}
.game_service_foot{
    width:136px;
    height: 40px;
    background: url("../images/service_online.jpg");
    background-position: 0 0;
    margin-left: 56px;
    margin-top: 10px;
}
.game_service_foot:hover{
    background: url("../images/service_online.jpg");
    background-position: 0 -40px;
}

.home_right{
    float: left;
    width: 746px;
    margin-left: 6px;
    height: 1050px;
}
.border{
    border:1px solid #89ABB1;
    width: 746px;
    height: 1000px;
}

.home_right_menu{
    width: 746px;
    height: 45px;
    margin-top: 10px;
    background: url("../images/menu_bg.jpg");
}

.home_right_menu a{
    width: 140px;
    height: 45px;
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 1.5em;
    display: inline-block;
}
.home_right_menu .home_right_menu_active{
    color: #EE8022;
}
#home_right_menu_a_more{
    font-size: 1.2em;
    float: right;
}

.home_right_menu #home_right_menu_a_more:hover{
    text-decoration: underline;
}

.home_right_menu_content{
    width: 746px;
    height: 250px;
    background-color: #C0D4C4;
}
.home_right_menu1_1,.home_right_menu1_2,.home_right_menu1_3{
    display: none;
}
.menu{
    padding: 20px;
}
.menu hr{
    color: #95B59D;
}

.home_right_menu1_content1 img{
    width: 155px;
    height: 80px;
    float: left;
    margin-right: 20px;
}
.home_right_menu1_content1 div{
    height: 100px;
}
.home_right_menu1_content1 a{
    font-size: 1.2em;
    font-weight: bold;
}
.home_right_menu1_content1 div p{
    margin-top: 10px;
}
.home_right_menu1_content2 ul{
    margin-top: 20px;
    margin-left: 10px;
}

.home_right_menu1_content2 li{
    width: 45%;
    float: left;
    padding-bottom: 5px;
}
.home_right_menu1_content2_li1{
    padding-right: 10%;
}
.date{
    float: right;
}

.home_right_menu2,.home_right_menu4{
    width: 746px;
    height: 45px;
    margin-top: 10px;
    background: url("../images/menu_bg5.jpg");
    line-height: 45px;

}
.home_right_menu2 span,.home_right_menu4 span{
    color: white;
    font-size: 1.5em;
    padding-left: 20px;
}
.home_right_menu3{
    background-color: #DAE3DB;
    width: 746px;
    height: 170px;
}
.home_right_menu3 div{
    margin: 10px 0 0 20px;
}
.img{
    width: 30%;
    height: 138px;
    background-color: #A3C0AB;
    text-align: center;
    padding-top: 10px;
    float: left;
}
.img img{
    width: 90%;
    height: 128px;
}
.img:hover{
    background-color: white;
}
.home_right_menu5{
    background-color: #DAE3DB;
    width: 746px;
    height: 135px;
}
.home_right_menu5 div{
    margin: 5px 10px 0 10px;
}
.img_gift{
    position: relative;
    width: 22%;
    height: 130px;
    float: left;
}
.img_gift img{
    width: 100%;
    height: 130px;
}
.img_dsc{
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: black;
    bottom: 0;
    left: -10px;
    opacity:0.6;
    filter:alpha(opacity=70);
}
.img_dsc a{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: white;
    font-size: 1.2em;
}
.img_dsc:hover{
    opacity:0.8;
}

/*down-css*/
.home_right_top{
    width: 746px;
    height: 45px;
    background:url("../images/menu_bg5.jpg") no-repeat;
    line-height:45px;
}
.home_right_top img{
    margin-top: 10px;
    margin-left: 10px;
    float:left;
}
.home_right_top_div1{
    float:left;
    font-size: 1.5em;
    color: white;
    margin-left: 10px;
}
.home_right_top_div2{
    float:right;
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
}
.home_right_top_div2 a{
    color: white;
}
.home_right_top_div2 a:hover{
    text-decoration: underline;
}

.home_right_down_content{
    width: 746px;
    height: 420px;
    text-align: center;
    background-color: #B6CBC6;
}
.home_right_down_content div{
    font-size: 2em;
    font-weight: bold;
    padding: 30px;
}
.home_right_down_content2{
    width: 746px;
    height: 535px;
    text-align: center;
    background-color: #E0EBE0;
}
.home_right_down_icon1{
    width: 187px;
    height: 48px;
    background: url("../images/down_btn.jpg") no-repeat;
    background-position: 0 0;
}
.home_right_down_icon2{
    width: 187px;
    height: 48px;
    background: url("../images/down_btn.jpg") no-repeat;
    background-position: -187px 0;
}
.home_right_down_content2 p{
    padding: 20px;
    font-size: 1.2em;
}
.home_right_down_icon div{
    float: left;

}
.home_right_down_icon1{
    margin-left: 156px;
}
.home_right_down_icon1:hover{
    background-position: 0 -48px;
}
.home_right_down_icon2{
    margin-left: 40px;
}
.home_right_down_icon2:hover{
    background-position: -187px -48px;
}
.home_right_down_dsc{
    margin-top: 60px;
    margin-left: 40px;
}
.home_right_down_dsc_icon{
    width: 21px;
    height: 30px;
    background: url("../images/down_icon1.png") no-repeat;
}
.home_right_down_dsc div{
    float: left;
    height: 30px;
    line-height: 30px;
}
.home_right_down_dsc_txt{
    font-size: 1.6em;
    color: #16555E;
    margin-left: 10px;
}
.home_right_down_content2 hr{
    color: #B4C3B8;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.home_right_down_dsc_content{
    width: 100%;
}
.home_right_down_dsc_content li{
    width: 30%;
    float: left;
    padding-top: 20px;
}
.home_right_down_dsc_content a{
    font-size: 1.2em;
}

/*pay_css*/
.pay_record,.pay_model{
    height: 230px;
    width: 248px;
    margin-top: 10px;
    background-color: #A3C0AB;
}
.pay_record_title{
    width: 248px;
    height: 45px;
    line-height: 45px;
    background: url("../images/menu_bg3.jpg");
    background-size: 100% 100%;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.pay_record_item{
    width: 100%;
    height: 21px;
    line-height: 21px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 20px;
}
.pay_record_btn{
    width: 150px;
    height: 40px;
    background: url("../images/recharge_record.jpg");
    background-position: 0 0;
    margin-top: 20px;
    margin-left: 30px;
}
.pay_record_btn:hover{
    background-position: 0 -40px;
}
.pay_model_title{
    width: 248px;
    height: 45px;
    line-height: 45px;
    background: url("../images/menu_bg3.jpg");
    background-size: 100% 100%;
    font-size: 1.5em;
    color: white;
}
.pay_model_title span{
    margin-left: 20px;
}
.pay_model_item{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 1.2em;
}
.item1{
    padding-top: 20px;
}

.pay_model_item img{
    padding-left: 20px;
    float:left;
}
.pay_model_item_txt{
    float:left;
    color: white;
    padding-left: 10px;
}
.pay_model hr{
    color: #B4C3B8;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.pay_help{
    height: 130px;
    width: 248px;
    margin-top: 10px;
    background-color: #A3C0AB;
}
.pay_pay_item{
    margin-left: 20px;
}
.pay_pay_item1{
    margin-top: 10px;
}
.pay_pay_item a{
    font-size: 1.2em;
}
.pay_help hr{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border: 1px dashed #659E90;
}
.home_right_pay_content1{
    width: 746px;
    height: 170px;
    background-color: #B6CBC6;
}
.home_right_pay_content1_box{
    padding: 20px;
}
.home_right_pay_content1_box strong{
    font-size: 1.5em;
    color: #16555E;
}
.home_right_pay_content1_box_img{
    width: 674px;
    height: 37px;
    background: url("../images/process_btn.jpg");
    background-position: 0 0;
    margin-top: 20px;
}
.home_right_pay_content1_box p{
   margin-top: 20px;
    font-size: 1.2em;
}
.home_right_pay_content1_box span{
    color:red;.
    font-size: 1.2em;
}


.home_right_pay_content2{
    width: 746px;
    height: 785px;
    background-color: #E0EBE0;

}
.home_right_pay_content2 ul{
    padding: 20px;
}
.home_right_pay_content2 li{
    width: 700px;
    height: 120px;
    border:1px solid #89ABB1;
    margin-top: 10px;
}
.home_right_pay_content2 li div{
    float: left;
}
.home_right_pay_content2_li_left{
    width: 20%;
    height: 120px;
    margin-left: 10px;
    text-align: center;
}
.img2 img{
    margin-top: 30px;
}
.home_right_pay_content2_li_left_line{
    width: 1px;
    height: 100px;
    background: url("../images/top_bg.gif");
    margin-top: 10px;
}
.home_right_pay_content2_li_center{
    width: 55%;
    height: 110px;
    margin-left: 10px;
    margin-top: 20px;
}
.home_right_pay_content2_li_center span{
    font-size: 1.3em;
    font-weight: bold;
}
.home_right_pay_content2_li_center p{
    margin-top: 5px;
    line-height:22px;
}
.home_right_pay_content2_li_right{
    width: 15%;
    height: 120px;
}
.home_right_pay_content2_li_btn{
    width: 96px;
    height: 35px;
    background: url("../images/pay_btn.png");
    background-position: 0 0;
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
.home_right_pay_content2_li_btn:hover{
    background-position: 0 -35px;
}